*foreground: #a6a3a3
*background: #3f3f3f
*borderColor: #3f3f3f
*color0: #4e4e4e
*color1: #d3b3b8
*color2: #b5d3b3
*color3: #d0d3b3
*color4: #d3c9b3
*color5: #d3bcb3
*color6: #c3d3b3
*color7: #cccaca
*color8: #5d5d5d
*color9: #e2cccf
*color10: #cee2cc
*color11: #e0e2cc
*color12: #e2dbcc
*color13: #e2d2cc
*color14: #d7e2cc
*color15: #a6a3a3

URxvt*foreground: #a6a3a3
URxvt*background: #3f3f3f
URxvt*borderColor: #3f3f3f
URxvt*color0: #4e4e4e
URxvt*color1: #d3b3b8
URxvt*color2: #b5d3b3
URxvt*color3: #d0d3b3
URxvt*color4: #d3c9b3
URxvt*color5: #d3bcb3
URxvt*color6: #c3d3b3
URxvt*color7: #cccaca
URxvt*color8: #5d5d5d
URxvt*color9: #e2cccf
URxvt*color10: #cee2cc
URxvt*color11: #e0e2cc
URxvt*color12: #e2dbcc
URxvt*color13: #e2d2cc
URxvt*color14: #d7e2cc
URxvt*color15: #a6a3a3

XTerm*foreground: #a6a3a3
XTerm*backgrouncmnd: #3f3f3f
XTerm*borderColor: #3f3f3f
XTerm*color0: #4e4e4e
XTerm*color1: #d3b3b8
XTerm*color2: #b5d3b3
XTerm*color3: #d0d3b3
XTerm*color4: #d3c9b3
XTerm*color5: #d3bcb3
XTerm*color6: #c3d3b3
XTerm*color7: #cccaca
XTerm*color8: #5d5d5d
XTerm*color9: #e2cccf
XTerm*color10: #cee2cc
XTerm*color11: #e0e2cc
XTerm*color12: #e2dbcc
XTerm*color13: #e2d2cc
XTerm*color14: #d7e2cc
XTerm*color15: #a6a3a3

*faceName: lemon:size=7:antialias=false
*font: lemon:size=7:antialias=false
*boldFont: lemon:size=7:antialias=false
*boldMode: false
*allowBoldFonts: false
*geometry: 100x24
*cursorUnderline: 0

Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintmedium
Xft.hinting: 1
Xft.antialias: 0
Xft.rgba: none
Xft.dpi: 96

URxvt*inputMethod: ibus
URxvt*preeditType: OverTheSpot
URxvt*boldMode: false
URxvt*allowBoldFonts: false
URxvt*geometry: 100x24
URxvt*cursorUnderline: 0
URxvt*scrollBar: false
URxvt*scrollBar_right: false
URxvt*scrollstyle: rxvt
URxvt*font: xft:lemon:pixelsize=7:antialias=false:hinting=true
URxvt*boldFont: xft:lemon:pixelsize=7:antialias=false:hinting=true
-- URxvt*depth: 32
-- URxvt*background: [100]#3f3f3f
-- URxvt*borderColor: [100]#3f3f3f

XTerm*faceName: lemon:size=7:antialias=false
XTerm*font: lemon:size=7:antialias=false
XTerm*boldFont: lemon:size=7:antialias=false
XTerm*boldMode: false
XTerm*allowBoldFonts: false
XTerm*geometry: 100x24
XTerm*cursorUnderline: 0
